footer{
    display: flex;

    width: 100;
    height: 95px;
    bottom: 0;
    left: 0;
    background-color: #474747;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
}

footer h1{
    display: flex;

    width: 78px;
    height: 25px;

}